fastapi
uvicorn[standard]
sqlalchemy
mysql-connector-python
python-jose[cryptography]
passlib[bcrypt]
pydantic[email]
requests
sqladmin
starlette
alembic
python-multipart
wtforms
googletrans==4.0.0-rc1
starlette-admin
gunicorn
PyMySQL
itsdangerous
